server:
  address: localhost
  port: 8080
  servlet:
    context-path: /api
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/wwwdb?serverTimezone=UTC
    username: root
    password: password
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    generate-ddl: true
    show-sql: true
  redis:
    port: 6379
    host: 127.0.0.1
  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  servlet:
    multipart:
      enabled: true
      max-file-size: 50MB
      max-request-size: 50MB
  jackson:
    property-naming-strategy: SNAKE_CASE
custom:
  path:
    upload-images: 'D:/upload/'


